<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1><a href="/">Mi blog</a></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur voluptates ullam aspernatur, nihil totam at? Magnam nisi suscipit quos illum corporis temporibus. Beatae, illum similique voluptatem accusantium iure sapiente ipsa?</p>
    </div>

    <div>
        <h2><a href="">Mi post 1</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur voluptates ullam aspernatur, nihil totam at? Magnam nisi suscipit quos illum corporis temporibus. Beatae, illum similique voluptatem accusantium iure sapiente ipsa?</p>
    </div>
    
    <div>
        <h2><a href="">Mi blog 2</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur voluptates ullam aspernatur, nihil totam at? Magnam nisi suscipit quos illum corporis temporibus. Beatae, illum similique voluptatem accusantium iure sapiente ipsa?</p>
    </div>
    
    
</body>
</html>